<div class="container-fluid">

	<h1>Cluster Configuration Details</h1>
	<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
	  <div class="alert-items">
	    <div class="alert-item static">
	      <span class="alert-text">
	      	{{ errorMsg }}
	      </span>
	  	</div>
	  </div>
	</div>

	<form [formGroup]="clusterForm" novalidate (ngSubmit)="onSubmit()">

		<div class="form-group">
			<label>Cluster Name</label>
			<input type="text" name="clusterName" formControlName="clusterName" required>
			<!--input type="text" name="clusterName" required class="form-control is-invalid" [class.is-invalid]="name.invalid && name.touched"-->
			<!--small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small-->
		</div>

		<div formGroupName="serverDetails">
			<h2>Server Details:</h2>
			<div class="form-group">
				<label>Server Make:</label>
				<select name="serverMake" formControlName="serverMake">
					<option *ngFor="let serverMake of serverMakeOptions">{{ serverMake }}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Server Model:</label>
				<input type="text" name="serverModel" formControlName="serverModel" required>
				<!--input type="text" name="serverModelName" required class="form-control is-invalid" [class.is-invalid]="name.invalid && name.touched"-->
				<!--small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small-->
			</div>

			<div class="form-group">
				<label>Server NIC:</label>
				<select name="serverNic" formControlName="serverNic">
					<option *ngFor="let serverNic of serverNicOptions">{{ serverNic }}</option>
				</select>
			</div>

		</div>

		<div class="form-group">
			<label>Number of Servers</label>
			<input type="number" name="numberOfServers" formControlName="numberOfServers" min="1" max="12" required>
			<!--input type="number" name="numberOfServers" min="1" max="12" required class="form-control is-invalid" [class.is-invalid]="numberOfServers.invalid && numberOfServers.touched"-->
			<!--small class="text-danger" [class.d-none]="numberOfServers.valid || numberOfServers.untouched">1 to 12 servers supported</small-->
		</div>

		<div class="mb-3" *ngIf="clusterForm.value.numberOfServers > 1">
			<label>Configuration</label>
			<div class="form-check" *ngFor="let type of configTypes">
				<input class="form-check-input" name="configType" formControlName="configType" type="radio" value="{{ type }}">
				<label class="form-check-label">{{ type }}</label>
			</div>
		</div>
		<div *ngIf="clusterForm.value.numberOfServers === 1">
			<label>Configuration</label><br>
			<label>Standard with Single Server</label>
		</div>

		<button class="btn btn-primary" type="submit">Configure</button>

		<button class="btn btn-secondary" type="button" (click)="applyRecommendedConfig()">Recommended Configuration</button>

	</form>

	<hr>

	<h4>Value Collected from the Form:</h4>
	<div>
		{{ clusterForm.value | json }}
	</div>
	<h4>Value Bound to Model:</h4>
	<div>
		{{ clusterModel | json }}
	</div>

</div>